{% if include.name %}
  {% assign name = include.name %}
{% else %}
  {% assign name = "Sign Up" %}
{% endif %}

{% assign name_id = name | downcase | replace: " ", "-" %}

{% if include.thanks_url %}
  {% assign thanks_url = include.thanks_url %}
{% else %}
  {% assign thanks_url = "/thanks/" %}
{% endif %}

<!-- Form configured for Netlify Forms -->
<form class="form  form--{{ name_id }}" method="POST" name="sign-up" netlify data-netlify="true">

  <!-- Hidden field to tell Netlify what the form name is -->
  <input type="hidden" name="form-name" value="sign-up" />

  <fieldset class="fieldset  form__fieldset">
    <legend class="legend form__legend">{{ name }}</legend>

    <label class="label" for="email--{{ name_id }}">Email Address:</label>
    <input class="input" id="email--{{ name_id }}" type="email" name="email" value="" placeholder="email@website.com" required="required" />

    <input class="button" type="submit" value="Sign Up" />
    <br/>

    <!-- Redirect after submission -->
    <!-- <input type="hidden" name="_next" value="{{ thanks_url }}" /> -->
    <!-- Optionally add a subject line here -->
    <input type="hidden" name="_subject" value="{{ site.title }} email sign-up from {{ name }}" />
  </fieldset>

  <!-- Bot Protection -->
  <div style="display: none;">
    <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
  </div>

</form>
