<!-- Form configured to just send a webhook to pipedream -->
<form class="form-inline" action="/thanks/" name="mailing-list">
  <p>
    <input type="email" name="email" class="form-control-lg" placeholder="email@website.com" required />
    <!-- Hidden webhook field sends new subscriber email address to pipedream trigger URL -->
    <input type="hidden" name="webhook" value="https://eoinsrvi7apkqha.m.pipedream.net" />
  </p>
  <p>
    <button class="btn-lg btn-primary" type="submit">Subscribe</button>
  </p>
</form>

<!-- javascript sends http post request -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.forms["mailing-list"];

    form.addEventListener("submit", async function (event) {
      event.preventDefault(); // Stop the default submission

      const email = form.email.value;

      // Send email address to Pipedream
      try {
        await fetch("https://eoinsrvi7apkqha.m.pipedream.net", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ email: email }),
        });
        // Redirect after successful submission
        window.location.href = "/thanks/";
      } catch (error) {
        console.error("Webhook failed", error);
        alert("Something went wrong. Please try again.");
      }
    });
  });
</script>
