---
layout: default
---

{% assign latest_post = site.posts | first %}

{% comment %} Set dynamic title and meta tags {% endcomment %}
{% capture page_title %}{{ latest_post.title }}{% endcapture %}
{% capture page_description %}{{ latest_post.excerpt | strip_html | truncate: 160 }}{% endcapture %}

{% include head.html title=page_title description=page_description %}

<article>
  <h1><a href="{{ latest_post.url }}">{{ latest_post.title }}</a></h1>
  <p><small>{{ latest_post.date | date: "%B %-d, %Y" }}</small></p>
  {{ latest_post.content }}
</article>
