---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--post  content  typeset">

    <h1>{{ page.title }}</h1>
    {% include post-meta.html %}
    {{ content }}

    <!-- {% include nav-share.html %} -->

    <!-- {% include post-comments.html %} -->

    <!-- Check if the website value is valid -->
    {% assign website = page.website | downcase %}

    {% if website != "" and website != "n/a" and website != "na" and website | match: "^(http|https)://[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)+(/.*)?$" %}
      <footer class="post-footer">
        <p>Visit their <a href="{{ page.website }}" target="_blank" rel="noopener noreferrer">website</a>.</p>
      </footer>
    {% else %}
      <footer class="post-footer">
        <p>{{ page.title }} has no valid website.</p>
      </footer>
    {% endif %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
